;; shadow-cljs configuration
{:source-paths
 ["source/cljs"]

 :dependencies
 [[reagent "0.8.1"]]

 :builds
 {:app {:target :browser
        :output-dir ".tmp/javascripts"
        :asset-path "/javascripts"
        :modules {:site {:entries [components.core]}}
        :devtools {:repl-init-ns components.core
                   :before-load components.core/mount
                   :after-load components.core/mount}}}}
