;; shadow-cljs configuration
{:source-paths
 ["source/cljs"]

 :dependencies
 [[rum "0.11.3"]]

 :builds
 {:app {:target :browser
        :output-dir ".tmp/javascripts"
        :asset-path "/javascripts"
        :modules {:site {:entries [styleguide.core]}}
        :devtools {:repl-init-ns styleguide.core
                   :before-load styleguide.core/stop
                   :after-load styleguide.core/start}}}}
