// Vars + Helpers
@import "utils/colors";
@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";
@import "utils/typography";
@import "utils/layout";
@import "components/tables";
@import "components/lists";
@import "styleguide/layout";
@import "styleguide/swatches";

// Intro page
.app-container {
  margin: auto;

  @include mq('lg') { max-width: 40%; }
  @include mq('md') { max-width: 80%; }
  @include mq('sm') { max-width: 100%; }
}

.logo {
  width: rem(100);
  height: rem(100);
  margin-right: rem(40);

  img {
    width: 100%;
    height: 100%;
  }
}
