.split-list-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid $grey;

  .list,
  .details {
    width: 50%;
    border: none;
  }

  .details {
    border-left: 1px solid $grey;
    > div {
      padding: rem($application-spacing);
    }
  }
}

.list {
  border: 1px solid $grey;
  font-size: rem(14);

  div.list-item {
    padding: rem(10);
    border-bottom: 1px solid $grey;
    cursor: pointer;

    &:last-child { border-bottom: none; }
    &:hover { background: $light; }
    &.active {
      background: $blue;
      color: $white;
    }
  }
}
