// Colors
$red: #FF4136;
$orange: #FF851B;
$yellow: #FFDC00;
$green: #2ECC40;
$blue: #0074D9;
$pink: #ef336c;
$purple: #B10DC9;
$navy: #34495e;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$maroon: #85144b;
$black: #000;
$softblue: #edf0f3;

// Shades
$almost-black: #333;
$dark: #666;
$grey: #e5e5e5;
$light: #f9f9f9;
$white: #fff;
$trans: transparent;
$halfwhite: rgba(white, 0.5);
$halfblack: rgba(black, 0.5);

// Semantics
$brand: $blue;
$primary: $blue;
$secondary: $light;
$success: $green;
$info: $teal;
$warning: $yellow;
$error: $red;
$interesting: $pink;
// Color collection for creating util classes
$colors: (
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "blue": $blue,
  "pink": $pink,
  "purple": $purple,
  "navy": $navy,
  "aqua": $aqua,
  "teal": $teal,
  "maroon": $maroon,
  "lime": $lime,
  "olive": $olive,
  "white": $white,
  "light": $light,
  "grey": $grey,
  "dark": $dark,
  "almost-black": $almost-black,
  "black": $black,
  "brand": $brand,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "error": $error
);

@each $class, $color in $colors {
  // Backgound colors
  @if (type-of($color) == 'color'){
    .bg-#{$class} { background: $color; }
    .bg-#{$class}-10 { background: lighten($color, 10%); }
    .bg-#{$class}-20 { background: lighten($color, 20%); }
    .bg-#{$class}-30 { background: lighten($color, 30%); }

    // Fill colors (for SVG)
    .fill-#{$class} { fill: $color; }
    .fill-#{$class}-10 { fill: lighten($color, 10%); }
    .fill-#{$class}-20 { fill: lighten($color, 20%); }
    .fill-#{$class}-30 { fill: lighten($color, 30%); }

    // Border colors
    .bdr-#{$class} { border: 1px solid $color; }
    .bdr-#{$class}-10 { border: 1px solid lighten($color, 10%); }
    .bdr-#{$class}-20 { border: 1px solid lighten($color, 20%); }
    .bdr-#{$class}-30 { border: 1px solid lighten($color, 30%); }

    // Text Colors
    .#{$class} { color: $color; }
    .#{$class}-10 { color: lighten($color, 10%); }
    .#{$class}-20 { color: lighten($color, 20%); }
    .#{$class}-30 { color: lighten($color, 30%); }
  }
}
