.flex {
  display: flex;
  flex-direction: row;

  .box { flex: 0 1 auto; }
}

.inline-block { display: inline-block; }
.block { display: block; }

@each $space in $margin-and-padding-breaks {
  .m-#{$space} { margin: rem($space); }
  .mt-#{$space} { margin-top: rem($space); }
  .mb-#{$space} { margin-bottom: rem($space); }
  .ml-#{$space} { margin-left: rem($space); }
  .mr-#{$space} { margin-right: rem($space); }
  .p-#{$space} { padding: rem($space); }
  .pt-#{$space} { padding-top: rem($space); }
  .pb-#{$space} { padding-bottom: rem($space); }
  .pl-#{$space} { padding-left: rem($space); }
  .pr-#{$space} { padding-right: rem($space); }
}

.row {
  display: flex;
  flex-direction: row;

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}
