html,
body {
	font-family: 'Helvetica', Arial, sans-serif;
	color: $black;
}

.sans { font-family: 'Helvetica', Arial, sans-serif; }
.serif { font-family: 'Georgia', Times, serif; }

// Text formatting
.bold { font-weight: 700 }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.uppercase { text-transform: uppercase; }
.downcase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

hr {
	border: none;
	border-bottom: 1px solid $grey;
	margin: rem(40) 0;
}

// Headings
$heading-sizes: (
	"h1" : $h1,
	"h2" : $h2,
	"h3" : $h3,
	"h4" : $h4,
	"h5" : $h5
);

@each $selector, $size in $heading-sizes {
	#{$selector} {
		font-size: rem($size);
		font-weight: $bold;
	}
}

// Paragraphs + Blockquotes
p.lead,
blockquote.lead {
	font-size: rem($lead);
	line-height: rem(36);
}

p.subtle,
blockquote.subtle {
	font-size: rem($subtle);
	color: $dark;
	line-height: rem(20);
}

blockquote {
  border-left: 1px solid $grey;
  padding-left: rem(10);
}

// Code
code,
kbd {
	color: $pink;
	background: $light;
	padding: rem(5);
}
