$spacing-amount: 1rem;
$radius: 3px;
$round: 1000px;
$app-background: $white;
$app-font-color: $almost-black;
$app-font-size-base: 18px;
$app-font-family: 'Rubik', sans-serif;
$special-font-family: 'Georgia', serif;

